In [ ]:
import numpy as np

In [ ]:
mat=np.array([[1,2,3],[6,2,3],[2,2,3]])

In [ ]:
mat

array([[1, 2, 3],
       [6, 2, 3],
       [2, 2, 3]])

In [ ]:
 b=np.arange(1,10)

In [ ]:
b >3

array([False, False, False,  True,  True,  True,  True,  True,  True])

In [ ]:
np.ones(10)*5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [ ]:
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [ ]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [ ]:
np.random.rand(4,5)

array([[0.02753096, 0.92638051, 0.76014968, 0.31346124, 0.06801627],
       [0.98115792, 0.74411256, 0.23791367, 0.8605065 , 0.22640219],
       [0.85290708, 0.71039407, 0.98875062, 0.31190387, 0.92052782],
       [0.70525276, 0.29548461, 0.47381142, 0.90894404, 0.31765928]])

In [ ]:
np.arange(1,100)/100

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99])

In [ ]:
 h=np.arange(1,26).reshape(5,5)

In [ ]:
h

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
h[2:,1: ]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [ ]:
h

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
h.sum()

325

In [ ]:
h.std()

7.211102550927978

In [ ]:
h.sum(axis=1)

array([ 15,  40,  65,  90, 115])

pandas

In [ ]:
import pandas as pd

a    r1
b    r2
c    r3
dtype: object

In [ ]:
ob=["thalapathy","rajinikanth","sk","dhanush","str","thala","kamal","suriya"]
ob=pd.Series(ob,index ={1,2,3,4,5,6,7,8})
ob

1     thalapathy
2    rajinikanth
3             sk
4        dhanush
5            str
6          thala
7          kamal
8         suriya
dtype: object

In [ ]:
 df=pd.DataFrame(randn(6,6),index='A B C D E F'.split(),columns='C1 C2 C3 C4 C5 C6'.split())

In [ ]:
from numpy.random import randn

In [ ]:
df

         C1        C2        C3        C4        C5        C6
A -0.133777 -0.660044 -0.648242 -0.492458  0.224018 -0.204118
B  1.324135  0.796412  0.088858 -1.764644 -0.325565 -1.302195
C  0.024737 -2.613510  1.754005 -0.033181 -1.238680 -1.752965
D  2.077395 -0.674269 -0.161598 -0.493522 -0.035722  1.547105
E  0.691916  1.180735  0.901586  0.399165 -0.399360  0.102698
F  1.318451 -0.676625  2.292754  0.428339 -0.646465  1.343099

In [ ]:
df['C6']

A   -0.204118
B   -1.302195
C   -1.752965
D    1.547105
E    0.102698
F    1.343099
Name: C6, dtype: float64

In [ ]:
df['C7']=df['C1']*df['C4']

In [ ]:
df

         C1        C2        C3        C4        C5        C6        C7
A -0.133777 -0.660044 -0.648242 -0.492458  0.224018 -0.204118  0.065880
B  1.324135  0.796412  0.088858 -1.764644 -0.325565 -1.302195 -2.336628
C  0.024737 -2.613510  1.754005 -0.033181 -1.238680 -1.752965 -0.000821
D  2.077395 -0.674269 -0.161598 -0.493522 -0.035722  1.547105 -1.025240
E  0.691916  1.180735  0.901586  0.399165 -0.399360  0.102698  0.276189
F  1.318451 -0.676625  2.292754  0.428339 -0.646465  1.343099  0.564744

In [ ]:
df.drop('C7',axis=1,inplace=True)

In [ ]:
df

         C1        C2        C3        C4        C5        C6
A -0.133777 -0.660044 -0.648242 -0.492458  0.224018 -0.204118
B  1.324135  0.796412  0.088858 -1.764644 -0.325565 -1.302195
C  0.024737 -2.613510  1.754005 -0.033181 -1.238680 -1.752965
D  2.077395 -0.674269 -0.161598 -0.493522 -0.035722  1.547105
E  0.691916  1.180735  0.901586  0.399165 -0.399360  0.102698
F  1.318451 -0.676625  2.292754  0.428339 -0.646465  1.343099

In [ ]:
df.loc['A']

C1   -0.133777
C2   -0.660044
C3   -0.648242
C4   -0.492458
C5    0.224018
C6   -0.204118
Name: A, dtype: float64

In [ ]:
df.iloc[1]

C1    1.324135
C2    0.796412
C3    0.088858
C4   -1.764644
C5   -0.325565
C6   -1.302195
Name: B, dtype: float64

In [ ]:
df.loc[['A','C'],['C1','C6']]

         C1        C6
A -1.095687 -0.439424
C -0.785748 -0.201610

In [ ]:
df>0

      C1     C2     C3     C4     C5     C6
A  False  False   True  False  False  False
B   True   True  False  False  False   True
C  False  False  False   True   True  False
D   True  False  False  False  False  False
E   True   True   True  False  False   True
F  False  False   True   True   True  False

In [ ]:
df[df<0]

         C1        C2        C3        C4        C5        C6
A -1.095687 -1.534498       NaN -0.345973 -0.104726 -0.439424
B       NaN       NaN -0.842038 -1.362355 -0.795759       NaN
C -0.785748 -0.686504 -0.033170       NaN       NaN -0.201610
D       NaN -0.070934 -0.157070 -0.519321 -1.699285 -1.485742
E       NaN       NaN       NaN -0.831475 -0.499724       NaN
F -0.780409 -0.836664       NaN       NaN       NaN -0.810253

In [ ]:
df[df['C1']>1]

         C1        C2        C3        C4        C5        C6
B  1.056739  0.714386 -0.842038 -1.362355 -0.795759  1.669496
D  1.490017 -0.070934 -0.157070 -0.519321 -1.699285 -1.485742

In [ ]:
df[df['C1']>1]['C1']

B    1.056739
D    1.490017
Name: C1, dtype: float64

In [ ]:
df[df['C1']>1][['C1','C6']]

         C1        C6
B  1.056739  1.669496
D  1.490017 -1.485742

In [ ]:
 df[(df['C1']>0)&df['C4']>0]#and

         C1        C2        C3        C4        C5        C6
A  0.731961  0.484064 -0.002981 -0.548055  1.457542 -1.453863
B  0.376497  3.185191  0.708834  0.709726 -1.600305 -0.492432
F  0.042609  0.378815  1.344739  2.157037 -0.723313  0.521911

In [ ]:
df[(df['C1']>0)/df['C4']>1]#or

         C1        C2        C3        C4        C5        C6
B  0.376497  3.185191  0.708834  0.709726 -1.600305 -0.492432

In [ ]:
df.reset_index()

  level_0        C1        C2        C3        C4        C5        C6 index
0       A  0.731961  0.484064 -0.002981 -0.548055  1.457542 -1.453863    AA
1       B  0.376497  3.185191  0.708834  0.709726 -1.600305 -0.492432    BB
2       C -1.261891 -0.747885  0.274452  0.015372 -0.662115  0.666607    CC
3       D -0.207999  1.358037  0.956012  0.298528  0.667268 -0.666608    DD
4       E -0.548083 -0.829877  1.048723  0.837007 -1.300986 -1.486536    EE
5       F  0.042609  0.378815  1.344739  2.157037 -0.723313  0.521911    FF

In [ ]:
lis="AA BB CC DD EE FF".split()

In [ ]:
df['index']=lis

In [ ]:
df.set_index('index')                        #index changing

             C1        C2        C3        C4        C5        C6
index
AA     0.731961  0.484064 -0.002981 -0.548055  1.457542 -1.453863
BB     0.376497  3.185191  0.708834  0.709726 -1.600305 -0.492432
CC    -1.261891 -0.747885  0.274452  0.015372 -0.662115  0.666607
DD    -0.207999  1.358037  0.956012  0.298528  0.667268 -0.666608
EE    -0.548083 -0.829877  1.048723  0.837007 -1.300986 -1.486536
FF     0.042609  0.378815  1.344739  2.157037 -0.723313  0.521911

In [ ]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,4,5,6]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 4),
            ('G2', 5),
            ('G2', 6)],
           )

In [ ]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.155605  0.161381
   2  0.529239 -0.188129
   3 -0.217870 -0.445165
G2 4  0.561373  0.113707
   5  0.058798  0.943648
   6  0.317748 -0.762457

In [ ]:
df.loc['G1'].loc[1]

A    0.155605
B    0.161381
Name: 1, dtype: float64

In [ ]:
df.index.names

FrozenList(['Group', 'No'])

In [ ]:
df.index.names=['Group','No']

In [ ]:
df

                 A         B
Group No
G1    1   0.155605  0.161381
      2   0.529239 -0.188129
      3  -0.217870 -0.445165
G2    4   0.561373  0.113707
      5   0.058798  0.943648
      6   0.317748 -0.762457

In [ ]:
df.xs(1,level='No')

              A         B
Group
G1     0.155605  0.161381

GROUPPY

In [ ]:
df=pd.DataFrame({'a':[25,23,np.nan],
                 'b':[36,np.nan,np.nan],
                 'c':[12,38,34]})

In [ ]:
df

      a     b   c
0  25.0  36.0  12
1  23.0   NaN  38
2   NaN   NaN  34

In [ ]:
df.dropna(axis=1)

    c
0  12
1  38
2  34

In [ ]:
df.dropna(thresh=2)

      a     b   c
0  25.0  36.0  12
1  23.0   NaN  38

In [ ]:
 df.fillna(value="***")

      a     b   c
0  25.0  36.0  12
1  23.0   ***  38
2   ***   ***  34

In [ ]:
 df['b'].fillna(value= df['c'].mean())

0    36.0
1    28.0
2    28.0
Name: b, dtype: float64

In [ ]:
df['c'].mean()

28.0

group by

In [ ]:
 data={'company':['google','google','msft','msft','fb','fb','ibm','ibm'],
       'person':['karthik','arun','vicky','kumar','vijay','vinay','keshav','akash'],
       'sales':[222,333,444,555,666,777,888,999]}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

  company   person  sales
0  google  karthik    222
1  google     arun    333
2    msft    vicky    444
3    msft    kumar    555
4      fb    vijay    666
5      fb    vinay    777
6     ibm   keshav    888
7     ibm    akash    999

In [ ]:
 df.groupby('company').mean()

         sales
company
fb       721.5
google   277.5
ibm      943.5
msft     499.5

In [ ]:
 df.groupby('company').min()

        person  sales
company
fb       vijay    666
google    arun    222
ibm      akash    888
msft     kumar    444

In [ ]:
 df.groupby('company').max()

          person  sales
company
fb         vinay    777
google   karthik    333
ibm       keshav    999
msft       vicky    555

In [ ]:
 df.groupby('company').count()

         person  sales
company
fb            2      2
google        2      2
ibm           2      2
msft          2      2

In [ ]:
df.describe()

            sales
count    8.000000
mean   610.500000
std    271.893361
min    222.000000
25%    416.250000
50%    610.500000
75%    804.750000
max    999.000000

In [ ]:
 df.groupby('company').describe()

        sales
        count   mean        std    min     25%    50%     75%    max
company
fb        2.0  721.5  78.488853  666.0  693.75  721.5  749.25  777.0
google    2.0  277.5  78.488853  222.0  249.75  277.5  305.25  333.0
ibm       2.0  943.5  78.488853  888.0  915.75  943.5  971.25  999.0
msft      2.0  499.5  78.488853  444.0  471.75  499.5  527.25  555.0

In [ ]:
df1=pd.DataFrame({'a':['A0','A1','A2','A3'],
                  'B':['B0','B1','B2','B3'],
                  'c':['C0','C1','C2','C3'],
                  },index=[0,1,2,3])

In [ ]:
df2=pd.DataFrame({'a':['A4','A5','A6','A7'],
                  'B':['B4','B5','B6','B7'],
                  'c':['C4','C5','C6','C7'],
                  },index=[4,5,6,7])

In [ ]:
df3=pd.DataFrame({'a':['A8','A9','A10','A11'],
                  'B':['B8','B9','B10','B11'],
                  'c':['C8','C9','C10','C11'],
                  },index=[8,9,10,11])

In [ ]:
pd.concat([df1,df2,df3])

      a    B    c
0    A0   B0   C0
1    A1   B1   C1
2    A2   B2   C2
3    A3   B3   C3
4    A4   B4   C4
5    A5   B5   C5
6    A6   B6   C6
7    A7   B7   C7
8    A8   B8   C8
9    A9   B9   C9
10  A10  B10  C10
11  A11  B11  C11

In [ ]:
pd.concat([df1,df2,df3],axis=1)

      a    B    c    a    B    c    a    B    c
0    A0   B0   C0  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN   A4   B4   C4  NaN  NaN  NaN
5   NaN  NaN  NaN   A5   B5   C5  NaN  NaN  NaN
6   NaN  NaN  NaN   A6   B6   C6  NaN  NaN  NaN
7   NaN  NaN  NaN   A7   B7   C7  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8
9   NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9
10  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10
11  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11

In [ ]:
 d1.fillna(value="***")                         #good

      a    B    c    a    B    c    a    B    c
0    A0   B0   C0  ***  ***  ***  ***  ***  ***
1    A1   B1   C1  ***  ***  ***  ***  ***  ***
2    A2   B2   C2  ***  ***  ***  ***  ***  ***
3    A3   B3   C3  ***  ***  ***  ***  ***  ***
4   ***  ***  ***   A4   B4   C4  ***  ***  ***
5   ***  ***  ***   A5   B5   C5  ***  ***  ***
6   ***  ***  ***   A6   B6   C6  ***  ***  ***
7   ***  ***  ***   A7   B7   C7  ***  ***  ***
8   ***  ***  ***  ***  ***  ***   A8   B8   C8
9   ***  ***  ***  ***  ***  ***   A9   B9   C9
10  ***  ***  ***  ***  ***  ***  A10  B10  C10
11  ***  ***  ***  ***  ***  ***  A11  B11  C11

In [ ]:
d1=pd.concat([df1,df2,df3],axis=1)

In [ ]:
left=pd.DataFrame({'key2':['k0','k1','k2','k3'],
                   'A':
                   ['b0','b1','b2','b3'],
                   'b':['c0','c1','c2','c3']})

In [ ]:
right=pd.DataFrame({'key1':['k0','k1','k2','k3'],
                   'A':
                   ['b0','b1','b2','b3'],
                   'b':['c0','c1','c2','c3']})

In [ ]:
left

  key   A   b
0  k0  b0  c0
1  k1  b1  c1
2  k2  b2  c2
3  k3  b3  c3

In [ ]:
right

  key   A   b
0  k0  b0  c0
1  k1  b1  c1
2  k2  b2  c2
3  k3  b3  c3

In [ ]:
pd.merge(left,right,how='inner',on='key')

  key A_x b_x A_y b_y
0  k0  b0  c0  b0  c0
1  k1  b1  c1  b1  c1
2  k2  b2  c2  b2  c2
3  k3  b3  c3  b3  c3

In [ ]:
pd.merge(left,right,on=['key1','key2'])

KeyError: ignored

In [ ]:
df=pd.DataFrame({'clm1':[81,18,28,27],'clm2':[72,72,63,53],"clm3":['hsb','hdd','whd','gdb']})

In [ ]:
df

   clm1  clm2 clm3
0    81    72  hsb
1    18    72  hdd
2    28    63  whd
3    27    53  gdb

In [ ]:
df['clm1'].unique()

array([81, 18, 28, 27])

In [ ]:
df['clm1'].nunique()

4

In [ ]:
df['clm1'].value_counts()

81    1
18    1
28    1
27    1
Name: clm1, dtype: int64

In [ ]:
def sq(x):
  return x **2

In [ ]:
df['clm2'].apply

<bound method Series.apply of 0    72
1    72
2    63
3    53
Name: clm2, dtype: int64>

In [ ]:
df['clm2'].sum()

260

In [ ]:
#del df['clm1']

In [ ]:
df.columns

Index(['clm1', 'clm2', 'clm3'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df.sort_values(by='clm1')                     #sorting*****

   clm1  clm2 clm3
1    18    72  hdd
3    27    53  gdb
2    28    63  whd
0    81    72  hsb

In [ ]:
df=pd.read_csv('content/04-09-21 Shift shedule.pdf')

FileNotFoundError: ignored

In [ ]:
df=pd.DataFrame()

In [ ]:
pd.read_excel('excel_sample.xlsx',sheet_name='content/04-09-21 Shift shedule (1).xlsx')

FileNotFoundError: ignored